/* conteudo item */
#conteudo_item {margin-top:5px}
#conteudo_item a {text-decoration:underline}
#conteudo_item p {margin-bottom:1.4em;line-height:1.4em;text-align:justify}
/* Fix Bug FireFox. */
#conteudo_item>table {margin-bottom:10px}
/* End */

/* conteudo aba menu */
#cont_aba_menu {display:table}
ul#cont_aba_menu {margin:0;padding:0;border-bottom:0px solid}
ul#cont_aba_menu li {list-style:none;white-space:nowrap;border-bottom:0px solid #FFF;float:left;margin-right:0px;background:url(../img/navegacao/cont_aba_menu_bg.gif) right top no-repeat}
ul#cont_aba_menu li a {display:block;font-weight:bold;text-decoration:none;padding:4px 0px 4px 0px;background:url(../img/navegacao/icon_seta_menu_unsel.gif) 7px center no-repeat}
ul#cont_aba_menu li a:hover {text-decoration:underline}
.cont_aba_borda {margin:0px 0 0px 0;padding-bottom:8px;background:url(../img/navegacao/cont_aba_borda_bg.gif) bottom repeat-x}
.cont_aba_on {display:inherit}
.cont_aba_off {display:none}

/* bread crumb (migalha de pao) */
#bread_crumb {padding:0 5px 3px 15px;margin-bottom:5px;border-bottom:1px solid #CCC;background:url(../img/navegacao/icon_seta_menu_unsel.gif) 3px 4px no-repeat}
#bread_crumb, ul#bread_crumb_menu li h1 {font-size:10px}
ul#bread_crumb_menu {margin:0;padding:0}
ul#bread_crumb_menu li {list-style:none;display:inline;margin-right:2px}
ul#bread_crumb_menu li h1 {display:inline;text-decoration:underline}

/* barra apoio */
.barra_apoio {float:right;display:inline}
.barra_apoio a {display:block}
.barra_apoio a img {vertical-align:bottom;margin-right:5px}

/* faux columns (falsas colunas) */
#faux {background:url(../img/estrutura/faux_bg_conteudo.gif) top left repeat-y}
