/* menu */
ul#menu, ul#menu ul {margin:0;padding:0;/* IE6 Bug */background:#FFF;width:150px}
ul#menu li {position:relative;list-style:none}
ul#menu li a {display:block;text-decoration:none;padding:4px 4px 4px 22px;background:url(../img/navegacao/icon_seta_menu_unsel.gif) 7px no-repeat;border-bottom:1px solid #CCC}
/* Fix Bug IE. Mac. */
* html ul#menu li {float:left;height:1%}
* html ul#menu li a {height:1%}
/* End */
ul#menu ul {position:absolute;display:none;left:150px;top:-1px;border-bottom:1px solid #06F}
ul#menu li ul li a {padding:4px;background:none;border:1px solid #06F;border-bottom:none}
ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.over ul ul,
ul#menu li.over ul ul ul {display:none}
ul#menu li:hover ul,
ul#menu li li:hover ul,
ul#menu li li li:hover ul,
ul#menu li.over ul,
ul#menu li li.over ul,
ul#menu li li li.over {display:block}
ul#menu li li:hover ul,
ul#menu li li li:hover ul,
ul#menu li li.over ul,
ul#menu li li li.over {top:0;left:149px}
ul#menu li.menu_sub:hover,
ul#menu li.over {background-color:#EEE}
ul#menu li a:hover {color:#06F;background-color:#EEE}
