/* padrao */
body, h1, h2, h3, h4, h5, h6, form, p {margin:0;padding:0}
body {background:#FFF;font:11px Arial,sans-serif;color:#333;border:none}
img {border:0}
a {color:#039;text-decoration:none}
a:hover {color:#06F}
h1, h2, h3 {font-size:1em}
h3 {font-weight:normal}
noscript {color:#F00}

/* acessibilidade fontes */
.texto_1 {font-size:0.8em !important}
.texto_2 {font-size:1em !important}
.texto_3 {font-size:1.2em !important}
.texto_4 {font-size:1.4em !important}

/* forms */
form input, form select, form textarea {font:1em Arial,sans-serif;color:#333}

/* raiz */
#raiz, #faux {width:774px;text-align:left}
#nav, #apoio {width:160px;padding:5px;padding-bottom:0}

/* faux columns (falsas colunas) */
#faux {overflow:auto;background:url(../img/estrutura/faux_bg_principal.gif) top left repeat-y;margin-bottom:8px}

/* aplicacoes */
td {font:11px Arial,sans-serif;color:#333}
.tit_sistema {padding:2px;font:20px Arial,sans-serif;color:#000080}
.iAguarde {padding:2px;width:60px;color:#FFF;background-color:#F00;font-family:'MS Reference Sans Serif'}

/* topo */
#topo {height:63px;background:url(../img/estrutura/topo_bg.gif) top repeat-x}
#logotipo {padding:5px;float:left;/* IE6 Bug -> */display:inline;background:url(../img/estrutura/topo_bg_logotipo.gif) top repeat-x}
#topo_apoio {background:url(../img/estrutura/topo_bg_nav.gif) bottom repeat-x;float:right;width:639px;height:63px;padding-right:5px}
#topo_apoio .topo_conteudo {height:28px;/* FireFox Bug -> */line-height:20px;margin-top:4px;text-align:right}
#topo_apoio .topo_nav {background:url(../img/estrutura/topo_bg_nav_borda.gif) top left no-repeat;height:31px;line-height:25px;padding-left:40px}
.topo_conteudo form {display:inline;margin-right:8px}
.topo_conteudo input, #str_acesso_rapido, .topo_conteudo img {vertical-align:middle}
.busca {width:75px;padding-left:3px}
.data {text-align:right;padding-right:8px;color:#039;font-size:10px}
#str_acesso_rapido {width:195px}
#str_acesso_rapido .select_item {background-color:#EEE;color:#039}

/* topo menu */
ul#topo_menu {margin:0;padding:0}
ul#topo_menu li {list-style:none;display:inline;line-height:24px}
ul#topo_menu li a {font-weight:bold;padding-left:18px;margin-right:5px;background:url(../img/navegacao/icon_bseta_menu_unsel.gif) left top no-repeat}
ul#topo_menu li a:hover {background-position:0 -23px}

/* navegacao */
#nav {float:left}
div.bloco {background-color:#FFF;padding:5px;margin-bottom:5px}
div.bloco_menu, div.bloco_titulo {height:33px;background:url(../img/navegacao/topo_bg_bloco_menu.gif) top repeat-x}
div.bloco_menu h2, div.bloco_titulo h2 {padding:7px 5px 5px 22px;font-weight:bold;color:#039;background:url(../img/navegacao/icon_bseta_menu_sel.gif) 3px 7px no-repeat}
div.bloco_titulo {background:url(../img/navegacao/topo_bg_bloco_titulo.gif) top repeat-x}
div.bloco_titulo h2 {background:url(../img/navegacao/icon_bseta_menu_unsel.gif) 3px 7px no-repeat}

/* conteudo */
#conteudo {float:left;width:594px;margin-left:4px;padding:5px 5px 5px 1px;overflow:hidden}

/* apoio */
#apoio {float:right}

/* rodape */
#rodape {background:url(../img/estrutura/rodape_bg.gif) top repeat-x;clear:both;text-align:center;height:27px;line-height:27px}
#rodape a {padding:0 3px}
