﻿@charset "utf-8";
/* CSS Document */

.FaixaAzul
{
    height:90px;
    width:100%;
    background-color:#0038A9;
    vertical-align:top;
}

.FaixaAmarela
{
    height:45px;
    background-color:#F9DD17;
    vertical-align:bottom;
    padding-left:75px;
}

.FaixaAzulFooter
{
    height:45px;
    width:100%;
    background-color:#0038A9;
    vertical-align:top;
}

.TextoFooter
{
    color:White;
    padding-left:75px;
    padding-top:13px;
    margin:0 auto;
}


.logo
{   
    margin:16px auto 17px 75px;
}



html, body, h1,h2,h3,h4,h5,h6,form,p,input,select,legend,textarea,fieldset{
	margin:0;
	padding:0px;
}

li, ul, ol{
	padding-left:10px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;

	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	
	margin: 0px auto;
}

body{
	font-size:13px;
	font-family: Arial;
	line-height:23px;
	position:relative;
	background-color:Transparent;
 	/*
	background-image: url("img_bg/fundo_cinza_2.jpg");
	background-repeat: repeat-x;
	*/
}

.center{ /*center content area */
	
	margin:0 auto;
	width:1002px; 
}
#header{
	height: 90px;
}
#header .logo{
	float:left;
	height: 87px;
	background-image:url("img_head/menu_bg_r1_c1.png");
	width:279px;
	background-repeat:no-repeat;
}
#header .box-a{
	float:left;
	height: 87px;
	width:236px;
	background-image:url("img_head/menu_bg_r1_c2.png");
	background-repeat:no-repeat;
}
#header .box-b{
	float:left;
	height: 87px;
	width:276px;
	background-image:url("img_head/menu_bg_r1_c3.png");
	background-repeat:no-repeat;
	text-align:right;
}
#header .chat{
	float:left;
	height: 87px;
	background-image:url("img_head/menu_bg_r1_c4.png");
	width:209px;
	background-repeat:no-repeat;
}

 /*  inicio abas simulação */
#menubas1{ 
	position: relative;
	width:999px;
	height:71px;
	margin:0 auto;
	text-align:right;
}
#menubas1 ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
	margin:0 auto;
}
#menubas1 ul li {
	display:inline;
	padding: 0px;	
	margin:0 auto;	
}
#menubas1 ul li a{
	display:inline;
	margin: 0px auto;
	padding: 0px ;	
}

 /* fim abas simulação */

/*  Inicio Menu Abas Padrao/combinado/personalizado */

#tipo{ /* abas simulação */
	position: relative;
	width:999px;
	height:65px;
	margin:0 auto;
	text-align:right;
}
#tipo ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
	margin:0 auto;
}
#tipo ul li {
	display:inline;
	padding: 0px;	
	margin:0 auto;
}
#tipo ul li a{
	display:inline;
	margin: 0px auto;
	padding: 0px ;	
}

/*  Fim Menu Abas Padrao/combinado/personalizado */

/*  Inicio  Titulos e Textos H1, H2, H3 , P ETC ...*/

p {
	font-size:13px;
	line-height:14px;
}

p a{
	font-size:13px;
	color:#0a4963;
	text-decoration:none;
}

p a:hover{
	text-decoration:underline;
	
}
h2 {
	font-size:30px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
}


h2 a{
	font-size:30px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
}

h1 {
	font-size:30px;
	color:#0A4963;
	font-weight:normal;
	text-decoration:none;
}


h1 a{
	font-size:30px;
	color:#d2a40b;
	font-weight:normal;
	text-decoration:none;
}

h3 {
	font-size:18px;
	line-height:18px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
}

h3 a{
	font-size:18px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
}

#title-a {
	margin-top:33px;
}
#title-a hr {
	margin-top:5px;
	background-color:#e7e4e0;
	border-top-color: #e7e4e0;
	border-right-color: #e7e4e0;
	border-bottom-color: #e7e4e0;
	border-left-color: #e7e4e0;
}
#title-b {
	float:left;
	margin-top:33px;
	margin-left:10px;
	margin-right:10px;
	
}
#title-b .title {
	padding-top:7px;
	padding-right: 10px;
	padding-left: 0px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	font-weight: bold;
	color: #926940;

}
#title-b .btn-a {
	text-align: center;
	padding: 4px 6px 4px 6px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;

}
#title-b .btn-a {
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
}

#title-b .btn-a:hover{
	cursor:pointer;
	color: #fff;
	background-color:#164a64;
}
#title-b .btn-a a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
}

/*  Fim  Titulos e Textos H1, H2, H3 , P ETC ...*/
#menusup{
	margin-left:10px;
	
}

#menusup ul {
	margin:5px 0px;
	list-style:none;
}

#menusup ul li{
	display:inline;
	margin-right:5px;
	padding-left:10px;
	background-image: url("images/seta.png");
	background-repeat: no-repeat;
	background-position: 2px;
}

#menusup ul li a{
	font-size:12px;
	color:#5e5e5e;
	text-decoration:none;
}
#menusup hr {
	height:1px;
	border-top:1px solid #dcd7ce;
	border-bottom:0px;
}

#menusup ul li a:hover{
	text-decoration:underline;
}
#table-a{
	margin-left:10px;
	margin-top:10px;
}
#table-a .title {
	padding-right: 10px;
	padding-left: 10px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	font-weight: bold;
	color: #926940;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e4e0;
}
#table-a .result{
	padding-right: 10px;
	padding-left: 10px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e4e0;
	color: #5e5e5e;	
}
#table-a .btn-a {
	text-align: center;
	margin-top: 5px;
	margin-bottom:5px;
	padding: 4px 6px 4px 6px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
}
#table-a .btn-a {
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
}

#table-a .btn-a:hover{
	cursor:pointer;
	color: #fff;
	background-color:#164a64;
}
#table-a .btn-a a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
}
#table-b .title {
	padding-right: 10px;
	padding-left: 10px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	font-weight: bold;
	color: #926940;
}
#table-b .result{
	padding-right: 10px;
	padding-left: 10px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	color: #5e5e5e;	
}
#table-b{
	width:740px;
	margin-left:10px;
	margin-top:10px;
	clear:both;
}
#menulat{
	margin-left:10px;
	margin-top:20px;
}

#menulat ul {
	margin:5px 0px;
	list-style:none;
}

#menulat ul li{
	margin-right:5px;
	padding-left:10px;
	background-image: url("images/seta.png");
	background-repeat: no-repeat;
	background-position: 2px;
}

#menulat ul li a{
	font-size:12px;
	color:#5e5e5e;
	text-decoration:none;
}
#menulat hr {
	height:1px;
	border-top:1px solid #dcd7ce;
	border-bottom:0px;
}

#menulat ul li a:hover{
	text-decoration:underline;
}
#form-a {
	position: relative;
	margin:0 auto;
	margin-top:10px;
	padding:20px;
	width:920px;
	background-image:url("images/bg_form_751.jpg");
	background-repeat:repeat-y;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e0d6;
	background-color: #E2DED5;	
}

#form-a .central {
	background-color:#f3f2ef;
	background-image:url("images/top_form.jpg");
	width:920px;
	background-repeat: no-repeat;
}

.centralizado {
	text-align:center;
}

.fundo-form-caixa-valor-pequeno {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 30px;
	text-align:right;
	padding-right:10px;
}
.fundo-form-caixa-valor-medio {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 80px;
	text-align:right;
	padding-right:10px;
}

.fundo-form-caixa-valor-medio-sem-fundo {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	width: 80px;
	text-align:right;
	padding-right:10px;
}

.fundo-form-caixa-pequeno {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 50px;
}

.fundo-form-caixa 
{
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	
}

.fundo-form-caixa-medio 
{
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 90px;
}


.fundo-form-caixa-grande {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 200px;
}

.fundo-form-caixa-maior {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 250px;
}

.fundo-form-caixa-maior2 {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width:330px;
}

.fundo-form-caixa-gigante {
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	height: 25px;
	line-height: 27px;
	border: solid 1px #cccccc;
	background-image: url(images/cad_text.jpg);
	background-repeat: repeat-x;
	width: 550px;
}


#box {
	position: relative;
	margin:0 auto;
	margin-top:0px;
	width:920px;
	background-color: #FFF;

}

#box2 {
	position: relative;
	margin:0 auto;
	margin-top:20px;
	width:920px;
	background-color: #C6B394;

}

.fundo-box{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #FFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-image: none;
	list-style-position: inside;
	background-color: #C6B394;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
}

.fundo-box-cinza{
	FONT-WEIGHT: bold;
	FONT-SIZE: 1px;
	COLOR: #FFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-image: none;
	list-style-position: inside;
	background-color: #999999;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 8px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

.fundo-box-azul{
	list-style-position: inside;
	background-color: #010066;
}


#simulacao {
	
}

#simulacao .title {
	padding: 10px 10px 10px 10px;
	font-size:15px;
	line-height:14px;
	font-family: Arial;
	font-weight: bold;
	color: #fff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e4e0;
	background-color: #999;
}
#simulacao .result{
	padding-right: 10px;
	padding-left: 10px;
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e4e0;
	color: #5e5e5e;	
}
.clolor-box-cinza {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1px;
	COLOR: #FFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	border: none;
	background-color: #999999;
}

#box {
	
}

#box .title {
	padding: 10px 10px 10px 10px;
	font-size:1px;
	font-family: Arial;
	font-weight: bold;
	color: #fff;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
#box .result{
	font-size:13px;
	line-height:14px;
	font-family: Arial;
	border-bottom-width: 0px;
	border-bottom-style: none;
	color: #5e5e5e;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.fundo-box1-cinza {
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	COLOR: #FFF;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-image: none;
	list-style-position: inside;
	background-color: #F3F2EF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E3DED6;
	border-right-color: #E3DED6;
	border-bottom-color: #E3DED6;
	border-left-color: #E3DED6;
}

/* conteudo */

#cont {
	width: 740px;
	margin: auto;
}
		
span.topoRedondo, span.baseRedondo {
	display:block; 
	background: transparent; 
}
 
span.topoRedondo span, span.baseRedondo span {
	display: block; 
	height: 1px; 
	overflow: hidden; 
	background: #F3F2EF; 
}
 
span.rum {
	margin:0 5px; 
} 
span.rdois {
	margin:0 3px; 
} 
span.rtres {
	margin:0 2px; 
} 
span.rquatro 
{
	margin: 0 1px; height: 2px; 
} 
 
.meioRedondo {
	background: #F3F2EF; 
	color: #000; 
	margin: 0; 
	padding: 5px 15px; 
}


#cont2 {
	width: 740px;
	margin: auto;
}
		
span.topoRedondo2, span.baseRedondo2 {
	display:block; 
	background: transparent; 
}
 
span.topoRedondo2 span, span.baseRedondo2 span {
	display: block; 
	height: 1px; 
	overflow: hidden; 
	background: #E3DED6; 
}
 
span.rum {
	margin:0 5px; 
} 
span.rdois {
	margin:0 3px; 
} 
span.rtres {
	margin:0 2px; 
} 
span.rquatro {
	margin: 0 1px; 
	height: 2px; 
} 
 
.meioRedondo2 {
	background: #E3DED6; 
	color: #000; 
	margin: 0; 
	padding: 5px 15px; 
}

.fundo-cont{
	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	COLOR: #0a4963;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-image: none;
	list-style-position: inside;
	height: 25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}

#cont3 {
	width: 300px;
	margin: auto;
	padding-left: 600px;
}
		
span.topoRedondo, span.baseRedondo {
	display:block; 
	background: transparent; 
}
 
span.topoRedondo span, span.baseRedondo span {
	display: block; 
	height: 1px; 
	overflow: hidden; 
	background: #F3F2EF; 
}
 
span.rum {
	margin:0 5px;
} 
span.rdois {
	margin:0 3px;
} 
span.rtres {
	margin:0 2px;
} 
span.rquatro {
	margin: 0 1px; height: 2px;
} 
 
.meioRedondo {
	background: #F3F2EF; 
	color: #000; 
	margin: 0; 
	padding: 5px 15px; 
}










/*********************************************************
*	Rodapé
*********************************************************/
.rodape {
	background-image: url(images/amarelo_40.jpg);
	background-repeat: repeat-x;
	height: 40px;
	
}

.texto-conteudo-rodape {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.texto-rodape {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	padding-top:80px;
}
.texto-rodape3 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #c6b394;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.texto-separador {
	FONT-SIZE: 12px;
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.texto-rodape-destaque {

	FONT-WEIGHT: normal;
	FONT-SIZE: 15px;
	COLOR: #f5c30a;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.link-rodape:link {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-rodape:visited {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-rodape:hover {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-rodape:active {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
/*********************************************************
*	Rodapé
*********************************************************/

/*********************************************************
*	Link
*********************************************************/
.link-chat:link {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-chat:visited {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-chat:hover {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-chat:active {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.link-sair:link {
	text-decoration: none;
	COLOR: #0A4963;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	vertical-align:bottom;
}
.link-sair:visited {
	text-decoration: none;
	COLOR: #0A4963;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-sair:hover {
	text-decoration: none;
	COLOR: #0A4963;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-sair:active {
	text-decoration: none;
	COLOR: #0A4963;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.link-conteudo-pequeno:link {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo-pequeno:visited {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo-pequeno:hover {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo-pequeno:active {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.link-conteudo:link {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo:visited {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo:hover {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-conteudo:active {
	text-decoration: none;
	COLOR: #003366;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}




.link-titulo-destaques-pequeno:link {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-titulo-destaques-pequeno:visited {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-titulo-destaques-pequeno:hover {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.link-titulo-destaques-pequeno:active {
	text-decoration: underline;
	COLOR: #003366;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}


/*********************************************************
*	Link
*********************************************************/

/*********************************************************
*	Textos
*********************************************************/
.texto-mais {

	FONT-WEIGHT: normal;
	FONT-SIZE: 30px;
	COLOR: #0A4963;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-titulo {

	FONT-WEIGHT: normal;
	FONT-SIZE: 30px;
	COLOR: #0A4963;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-titulo-medio {
    font-size:18px;
	color:#0a4963;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
}


.texto-titulo-medio-tabela
{
    font-size:18px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}

.texto-titulo-medio-destaque {
    font-size:18px;
	color:#0a4963;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	text-transform:uppercase;
}

.texto-titulo-destaques-medio {

	FONT-WEIGHT: normal;
	FONT-SIZE: 18px;
	COLOR: #666633;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-titulo-destaques-medio-negrito {

	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #666633;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.texto-titulo-destaques-pequeno {

	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #666633;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-titulo-destaques-pequeno-negrito {

	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #666633;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-conteudo-destaque-azul {

	FONT-SIZE: 12px;
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}


.texto-conteudo-destaque{
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #0A4963;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.texto-conteudo{
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-conteudo-negrito{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.texto-sair {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: repeat-x;
}
.texto-pequeno {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}
/*********************************************************
*	Textos
*********************************************************/

/*********************************************************
*	Espaço padrão
*********************************************************/
.dvSpace12 {
	height: 12px;
}

.dvSpace16 {
	height: 16px;
}

.dvSpace33 {
	height: 33px;
}

.dvAlinhamentoTabela
{
	height: 40px;

	padding-left:25px;
	padding-right:25px;
}

.linha-tracejada
{
	border-top: 1px dashed #e0e0e0;
	border-bottom: solid 0px #000000;
	border-left: solid 0px #000000;
	border-right: solid 0px #000000;
}

.direita-espaco
{
	text-align:right;
	padding-right:10px;
}
/*********************************************************
*	Espaço padrão
*********************************************************/

/*********************************************************
*	Fundo
*********************************************************/
.fundo-formulario-cinza {
	background-color: #F3F2EF;
}

.fundo-formulario-cinza-escuro {
	background-color: #E3DED6;
	
}

.linha-divisoria 
{
	
      color: #e3ded6;
      background-color: #e3ded6;
      height:2px;
}

/*********************************************************
*	Fundo
*********************************************************/


/*********************************************************
*	Formulário Botões
*********************************************************/
.btn-am {
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_am.jpg");
	border: solid 0px #ffffff;
}

.btn-am:hover{
	text-align: center;
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #ffffff;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_az.jpg");
	border: solid 0px #ffffff;
}
.btn-am a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
	height: 28px;
}

.btn-am-pequeno {
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_am.jpg");
	border: solid 0px #ffffff;
	width:75px;
}

.btn-am-pequeno:hover{
	text-align: center;
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #ffffff;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_az.jpg");
	border: solid 0px #ffffff;
	width:75px;
}
.btn-am-pequeno a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
	height: 28px;
	width:75px;
}

.btn-am-medio {
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_am.jpg");
	border: solid 0px #ffffff;
	width:150px;
}

.btn-am-medio:hover{
	text-align: center;
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #ffffff;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_az.jpg");
	border: solid 0px #ffffff;
	width:150px;
}
.btn-am-medio a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
	height: 28px;
	width:150px;
}



.btn-am-grande {
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #926940;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_am.jpg");
	border: solid 0px #ffffff;
	width:190px;
}

.btn-am-grande:hover{
	text-align: center;
	font-size:14px;
	line-height:27px;
	font-family: Arial;
	text-decoration:none;
	font-weight: bold;
	height: 28px;
	cursor:pointer;
	color: #ffffff;
	background-color:#ffcc01;
	background-repeat: repeat-x;
	background-image: url("img_site/bt_az.jpg");
	border: solid 0px #ffffff;
	width:190px;
}
.btn-am-grande a{
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
	height: 28px;
	width:190px;
}
/*********************************************************
*	Formulário Botões
*********************************************************/








/*********************************************************
*	style2.css
*********************************************************/

.titAzulMenor
{
    font-size:18px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}

.form-a1 {
	margin-top:5px;
	margin-bottom:5px;
	padding:20px;
	background-color: #E2DED5;	
}

.form-a2 {
	background-color:#f3f2ef;
	background-image:url("images/top_form.jpg");
	background-repeat: no-repeat;
}

.lblvermelho
{
    color:Red;
}

.labl1
{
	font-size:14px;
	color:#838B8B;
	font-family: Arial;
	font-weight:bold;
	text-align:left;
}

.labl2 /* valores tela capital assist */
{
    font-size:22px;
	color:#838B8B;
	font-family: Arial;
	text-align:left;
}

.texto-titulo-medio
{
    font-size:18px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}

.texto-titulo-pequeno
{
    font-size:12px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}

.titDouradoMenor
{
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	COLOR: #9b8f7b;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
}

.titDouradoMedio
{
    font-size:18px;
	font-family: Arial;
	color: #926940;
	text-align:left;
}

.titAzulMaior
{
    font-size:30px;
	color:#0a4963;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}

.titAzulClaro
{
    font-size:18px;
	font-family: Arial;
	color: #00BFFF;
	text-align:left;
}
/*********************************************************
*	style2.css
*********************************************************/