#divSenha
{
    MARGIN-left: 2px;
    WIDTH: 115px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 45px;
    TEXT-ALIGN: center
	WIDTH: 119px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 45px;
}

#divSenha2
{
    MARGIN-left: 2px;
    WIDTH: 115px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 45px;
    TEXT-ALIGN: center
	WIDTH: 119px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 45px;
}
.teste {
    BACKGROUND-IMAGE: url(imagens/caixa.gif);
	WIDTH: 119px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 45px;
}

.divBotao
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 13px;
    BACKGROUND: #fff;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 18px;
    CURSOR: default;
    COLOR: #ccc;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 15px;
    TEXT-ALIGN: center
}
.divbotaoDesfoca
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 18px;
    CURSOR: default;
    COLOR: #000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 15px;
    TEXT-ALIGN: center
}
#divCabecalho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 2px;
    WIDTH: 100%;
    CURSOR: pointer;
    COLOR: #333;
    FONT-FAMILY: tahoma;
    TEXT-ALIGN: center
}

	.contraste1
	{
		opacity:.1;filter:alpha(opacity=10);-khtml-opacity:.1;	
	}
	.contraste2
	{
		opacity:.2;filter:alpha(opacity=20);-khtml-opacity:.2;	
	}
	.contraste3
	{
		opacity:.6;filter:alpha(opacity=60);-khtml-opacity:.6;	
	}
	.contraste4
	{
		opacity:.10;filter:alpha(opacity=100);-khtml-opacity:.10;	
	}
